:root {
    --primColor: #272727;
    --secoColor: #ffffff;
    --cornerRad: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--primColor);
    font: 14px Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,cursive;
}

.logo {
    position: absolute;
    z-index: 2;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 58px;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }

    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: red;
        border-radius: var(--cornerRad);
    }

.subnav-content {
    display: none;
    position: absolute;
    background-color: #b8b8b8;
    width: 100%;
    z-index: 1;
}

    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
        width: 100%;
    }

        .subnav-content a:hover {
            background-color: #eee;
            color: black;
            width: 72%;
        }

.subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#giriskayit {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 0;
    width: 16%;
    display: flex;
    flex-wrap: nowrap;
}

/*****KULLANICI KAYİT/GİRİS*/
.myForm1 {
    display: none;
}

.myForm2 {
    display: none;
}

form {
    height: 520px;
    width: 400px;
    /*background-color: rgba(255,255,255,0.13);*/
    background-color: rgb(8 7 16 / 60%);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 100;
}

.kayitform {
    height: fit-content;
    top: 71%;
}

form * {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 0px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 22px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.open-button-nav {
    border-color: darkslategray;
    width: 10%;
    background-color: var(--primColor);
    color: var(--secoColor);
    border: none;
    position: relative;
    font: 14px Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

.open-button-nav1 {
    width: 8%;
    background-color: var(--primColor);
    color: var(--secoColor);
    border: none;
    position: relative;
    font: 14px Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

.social {
    margin-top: 30px;
    display: flex;
}

    .social div {
        background: red;
        width: 150px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }

        .social div:hover {
            background-color: rgba(255,255,255,0.47);
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }

/****GÖRSELLER******/
.movies-heading h2 {
    font-weight: 400;
    margin: 0px;
    padding: 1px 20px;
    background-color: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.06);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

.movies-heading {
    display: flex;
    margin: 0px 2%;
}

.movies-box {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.movies-img {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 3px;
}

    .movies-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.movies-box a {
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: lightgoldenrodyellow;
    margin: 20px;
}

.movies-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.2s;
}

#movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btns a {
        width: 130px;
        height: 40px;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: #3963f0;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

        .btns a:hover {
            background-color: #284fd1;
        }

nav .menu-btn {
    display: none;
}

    /********Türler***********/
    html {
        scroll-behavior: smooth;
       }
    
       h2 {
        font-family: cursive;
        color: white;
        text-align: -webkit-left;
        margin: 5px;
        margin-top: 25px;
        font-weight: initial;
       }
       .genres {
        display: grid;
        grid-template-columns: repeat(3, 100%);
        overflow: hidden;
        scroll-behavior: smooth;
       }
       .genres section {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 350px);
        margin: 20px 0;
       }
       .genres section .item {
        padding: 0 2px;
        transition: 250ms all;
       }
       .genres section .item:hover {
        margin: 0 40px;
        transform: scale(1.2);
       }
       
       .genres section a {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background: black;
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;
       }
       .genres section a:nth-of-type(1) {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
       }
       .genres section a:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
       }
       @media only screen and (max-width: 600px) {
        a.arrow__btn {
        display: none;
        }
        .genres {
            display: flex;
            flex-direction: column;
        }
        .genres section {
            width: 100%;
            /* position: relative; */
            display: flex;
            grid-template-columns: repeat(5, 350px);
            margin: 20px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h2 {
            text-align: center;
        }
       /***************************/

}